{% extends "master.html" %}

{% block title %}
  Detail View
{% endblock %}


{% block content %}
    <h1>My Tennis Club</h1>
        
    
    <h4>{{ data.firstname }} {{ data.lastname }} (ID: {{ data.id }})</h4><br/>
    <p>
      Phone: {{ data.phone }}<br/>
      Date joined: {{ data.joined_date }}<br/>
      Shoe: {{ data.shoe }}<br/>
    </p>
    <hr/>

    <p><a href="{% url 'memberlist_view' %}">Back to list</a></p>
 

    <!-- Add any additional content or styling here -->
  
{% endblock %}
