{% extends "master.html" %}

{% block title %}
  List View
{% endblock %}


{% block content %}
    <h1>My Tennis Club</h1>
        
    {% for data in dataset %}
 
    <p>
      <a href="http://127.0.0.1:8000/{{data.id}}/detail">{{ data.firstname }} {{ data.lastname }} (ID: {{ data.id }}) </a><br/>
      Phone: {{ data.phone }}<br/>
      Date Joined: {{ data.joined_date }}<br/>
      Shoe: {{ data.shoe }}<br/>
    
      <a href="http://127.0.0.1:8000/{{data.id}}/ud">Update/Delete</a>

      <hr/>
  
      {% endfor %}

      <p>
        <a href="http://127.0.0.1:8000/create">Create new member</a>
      </p>

    </p>
    <!-- Add any additional content or styling here -->
  
{% endblock %}
