{% extends "master.html" %}

{% block title %}
  UD
{% endblock %}


{% block content %}
    <h1>My Tennis Club</h1>
        
    <form method="POST">
      <!-- Security token by Django -->
      {% csrf_token %}
      
      <!-- Form fields -->
      {{ form.as_p }}
      <p>
        <input type="submit" name="update" value="Update">
        <input type="submit" name="delete" value="Delete">
      </p>
    </form>

    <p><a href="{% url 'memberlist_view' %}">Back to list</a></p>
 

    <!-- Add any additional content or styling here -->
  
{% endblock %}
